* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #FAF9F6;
  color: #222;
  scroll-behavior: smooth;
}

/* Header / Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  background-color: #FAF9F6;

}

.navbar .left {
  font-size: 1.3rem;
  font-weight: bold;
}

.navbar .right {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}

.navbar .right a {
  text-decoration: none;
  font-weight: bold;
  color: #222;

}

.right nav a:hover {
    text-decoration: underline;
}

/* Główna treść */
main {
  max-width: 700px;
  margin: 2rem auto;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

h3 {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.content{
    font-size: 1rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
}

details p {
  margin: 0.5rem 0;
}

/* Footer */
.footer-footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #fff;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-icons img {
  width: 30px;
  height: 30px;
}

/*Reviews - links*/

.review_links a{
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    display: block;
    margin-bottom: 0.1rem;
}
.review_links a:hover{
    text-decoration: underline;
}

/*Contact special code*/

.contact-container {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  gap: 1.2rem; /* równy odstęp między wszystkimi polami */
}

/* Pola formularza */
.contact-input,
.mail,
.text-area,
.submit-button {
  width: 100%;
  border: 1.5px solid #222;
  padding: 0.6rem;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Rozmiary i style poszczególnych elementów */
.contact-input,
.mail {
  height: 40px;
}

.text-area {
  height: 120px;
  resize: vertical;
}

.submit-button {
  background-color: white;
  color: grey;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
  border: 1.5px solid #222;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #f0f0f0;
}


/* Portfolio */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    padding: 2em;
    margin-top: 4rem;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    cursor: pointer;
}

/* Mobilna wersja */

.hamburger {
  display: none;
  font-size: 2.2rem;
  background: none;
  border: none;
  color: #222;
  cursor: pointer;
  z-index: 1400;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .right {
    position: absolute;
    left: 0;
    top: 70px; /* poniżej navbaru */
    width: 100%;
    background-color: #FAF9F6;
    display: none !important;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border-top: 1px solid #ccc;
  }

  .right.active {
    display: flex !important;
  }

  main {
    max-width: 100%;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    min-height: calc(100dvh - 70px - 160px); /* 70px navbar + 160px footer */
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    text-align: justify;
  }

  .gallery {
    grid-template-columns: 1fr; /* 1 obrazek na linię */
    padding: 1rem;

  }


}