* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  line-height: 1.6;
  background-color: #FAF9F6;
  color: #222;
  padding: 1rem;
}

/* Header / Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  background-color: #FAF9F6;

}

.navbar .left {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .right {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}

.navbar .right a {
  text-decoration: none;
  font-weight: bold;
  color: #222;

}

.right nav a:hover {
    text-decoration: underline;
}

/* main section - gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    padding: 2em;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    cursor: pointer;
}

/* Footer */
.footer-footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #fff;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-icons img {
  width: 30px;
  height: 30px;
}
